<link rel="stylesheet" href="/css/admin.css">

<div class="container restaurant-container">


    <div class="container text-center option-container">
        <button type="button" class="btn  btn-lg btn-block add-btn" style="text-decoration:none">Add New
            Restaurant</button>
        <button type="button" class="btn btn-lg btn-block addFran-btn" style="text-decoration:none">Add Existing
            Franchise</button>
        <button type="button" class="btn  btn-lg btn-block modify-btn">Modify Restaurant</button>
        <button type="button" class="btn  btn-lg btn-block delete-btn">Delete Restaurant</button>
    </div>


    {{!-- <form>
        <div class="form-group">
            <label for="restaurant-name">Email address</label>
            <input type="text" class="form-control" id="restaurant-name" aria-describedby="rest-name"
                placeholder="Enter restaurant name">
        </div>

        <label for="rest-loc">Location</label>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="X coordinate">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Y coordinate">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="restaurant-name">Restaurant Description</label>
            <textarea class="form-control" id="rest-desc" aria-describedby="rest-desc"
                placeholder="Enter restaurant description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form> --}}
</div>