<link rel="stylesheet" href="/css/client.css">


<div class="jumbotron">


    <h1 class=" display-1 header">Welcome to Restaurant Finder</h1>
    <p class="lead" style="font-size:35px">Find the best Restaurants in your area. You can search by location,
        category
        or simply
        view all restaurants
        registered to our expansive database</p>
    <hr class="my-4">


    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="input-group input-group-lg text-center">
                    <input type=" text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                        placeholder="Example Search: 1,1"
                        style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Search by Location</a>
                    </p>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 text-center">
                <p style="font-size: 35px;">Search by Category &nbsp;
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle dropdown"
                            style="font-size: 22px; letter-spacing: 3px;" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu" style="font-family:Arial, Helvetica, sans-serif">
                            <a class="dropdown-item" href="#">American</a>
                            <a class="dropdown-item" href="#">African</a>
                            <a class="dropdown-item" href="#">Chinese</a>
                            <a class="dropdown-item" href="#">Cafe</a>
                            <a class="dropdown-item" href="#">Dessert</a>
                            <a class="dropdown-item" href="#">Diners</a>
                            <a class="dropdown-item" href="#">Fast-Food</a>
                            <a class="dropdown-item" href="#">Greek</a>
                            <a class="dropdown-item" href="#">Hawaiian</a>
                            <a class="dropdown-item" href="#">Indian</a>
                            <a class="dropdown-item" href="#">Italian</a>
                            <a class="dropdown-item" href="#">Latin American</a>
                            <a class="dropdown-item" href="#">Malaysian</a>
                            <a class="dropdown-item" href="#">Mexican</a>
                            <a class="dropdown-item" href="#">Middle Eastern</a>
                            <a class="dropdown-item" href="#">Thai</a>

                        </div>
                    </div>
                    <p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 text-center">
                <p style="font-size: 35px;">View all Restaurants &nbsp;<a class="btn btn-primary btn-lg" href="#"
                        role="button">View All</a></p>
            </div>
        </div>
    </div>

</div>


<div style="height:1000px;"></div>